header {
    display: flex;
}

#navbar {
    /* background-color: #d6e9ef; */
    background-color: rgba(255, 255, 255, 0.35);
    margin-top: 2rem !important;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#navbar a {
    border-radius: 20px;
    color: var(--dark-gray) !important;
    text-decoration: none !important;
    padding: 7px;
}

@media (max-width: 665px) {
    #navbar {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    #navbar a {
        font-size: 3.5vw;
        display: flex;
    }
}

@media (min-width: 666px) {
    #navbar {
        width: auto;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    #navbar a {
        padding-left: 2em;
        padding-right: 2em;
    }
}


.highlighted {
    background-color: transparent;
}


#backgroundSlide {
    position: absolute;
    margin-top: -1.7em;
    width: auto;
    height: 2em;
    background-color: #e6f1f4;
    z-index: -1;
    transition: width 0.3s ease, left 0.3s ease;
    border-radius: 20px; /* Apply the same border-radius as the .highlighted link */
    pointer-events: none;
}
