header {
    display: flex;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.35);
    margin-top: 2rem !important;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#navbar a, 
#portfolio {
    border-radius: 20px;
    color: var(--dark-gray) !important;
    text-decoration: none !important;
    padding: 7px;
}

@media (max-width: 665px) {
    #navbar {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    #navbar a, 
    #portfolio {
        font-size: 3.5vw;
        display: flex;
    }
}

@media (min-width: 666px) {
    #navbar {
        width: auto;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    #navbar a, 
    #portfolio {
        padding-left: 2em;
        padding-right: 2em;
    }
}


.highlighted {
    background-color: transparent;
}


#backgroundSlide {
    position: absolute;
    width: auto;
    height: 2em;
    background-color: #e6f1f4;
    z-index: -1;
    transition: width 0.3s ease, left 0.3s ease;
    border-radius: 20px; /* Apply the same border-radius as the .highlighted link */
    pointer-events: none;
}
#portfolio-dropdown {
    position: relative;
    display: inline-block;
}

#portfolio-dropdown a i {
    top: 50%;
}

#portfolio-content {
    display: none;
    position: absolute;
    left: 50%;
    margin-top: .8em;
    transform: translateX(-50%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em;
    background-color: rgba(175, 230, 239);
}

#portfolio-dropdown:hover #portfolio-content,
#portfolio-content:hover {
    display: block;
}

#portfolio-content a:hover {
    background-color: lightblue;
    cursor: pointer;
}

#dropdown-bar {
    position: absolute;
    color: black;
    width: 100%; /* Make it full width */
    height: 70%; /* Adjust the height */
    cursor: default; /* Prevent cursor from changing */
    background: transparent; /* Make it invisible */
}