header {
    display: flex;
}

@media (max-width: 665px) {
    #navbar {
        display: flex;
        margin-top: 2rem !important;
        background-color: #d6e9ef;
        border-radius: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        justify-content: space-evenly;
    }

    #navbar a {
        font-size: 3vw;
    }

    #navbar a {
        display: flex;
        border-radius: 20px;
        color: var(--dark-gray) !important;
        text-decoration: none !important;
        padding: 7px;
    }
}

@media (min-width: 666px) {
    #navbar {
        margin-top: 2rem !important;
        background-color: #d6e9ef;
        border-radius: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    #navbar a {
        border-radius: 20px;
        color: var(--dark-gray) !important;
        text-decoration: none !important;
        padding: 7px;
        padding-left: 2em;
        padding-right: 2em;
    }
}


.highlighted {
    background-color: #e6f1f4;
}
