:root {
    --light-blue : #BBE2EC;
    --dark-blue : #40A2E3;
    --tan : #FFF6E9;
    --green : #0D9276;

    --dark-gray : #4c6763;
    --blue-text : #483d8b;
}

h1 {
    font-family: "Comic Sans MS", cursive !important;
}

* {
    font-family: "Geneva", sans-serif;
    
    user-select: none;
    padding: 0;
    margin: 0;
}


body {
    background: linear-gradient(to bottom right, #f5f5dc, #e6e6fa);
}

header {
    margin-top: 2rem !important;
    background-color: #d6e9ef;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 3px;
    width: 42rem;
    text-align: center;
    align-items: center;
    margin: auto;
}

.highlighted {
    background-color: #e6f1f4;
}

header a {
    border-radius: 20px;
    color: var(--dark-gray) !important;
    text-decoration: none !important;
    padding: 7px;
    padding-left: 2em;
    padding-right: 2em;
}

main {
    margin-top: 10rem;
    text-align: center;
    color: var(--blue-text);
    padding-left: 20vw;
    padding-right: 20vw;
}

main h1 {
    text-align: center;
    display: inline-block;
    font-size: 13vh;

}



/* Word carosel */
#text-carousel {
    display: inline-flex;
    margin-top: 1.5em;
    overflow: hidden;
    height: 1.4em;
}

.text-rotator {
    display: inline;
    text-align: left;
    animation: rotateText 8s infinite;
}
  
@keyframes rotateText {
    0%, 20% {
        transform: translateY(0); /* stay */
    }
    20%, 33.33% {
        transform: translateY(-21px); /* Move up */
    }
    33.33%, 53.33% {
        transform: translateY(-21px); /* Stay */
    }
    53.33%, 66.66% {
        transform: translateY(-42px); /* Move down */
    }
    66.66%, 86.66% {
        transform: translateY(-42px); /* Stay */
    }
    86.66%, 100% {
        transform: translateY(-63px);
    }
}
/* Word carosel finish */



#education {
    margin-top: 12em;
}

#education h2 {
    text-align: left;
}

#education div {
    color: darkgray;
    background-color: var(--light-blue);
    border-radius: 40px;
    margin-right: -20vw;
    margin-top: 1em;
    padding: 1em;
}

#martin-street h2,
#woss h2 {
    color: var(--blue-text);
}


#education div h2 {
    text-align: center;
}

#martin-street {
    width: 90%;
}

#woss {
    margin-left: 55vw;
    width: 40%;
}