:root {
    --light-blue : #BBE2EC;
    --dark-blue : #40A2E3;
    --tan : #FFF6E9;
    --green : #0D9276;

    --dark-gray : #4c6763;
    --blue-text : #483d8b;
}

* {
    font-family: "Geneva", sans-serif;
    user-select: none;
    padding: 0;
    margin: 0;
}


h1 {
    font-family: "Comic Sans MS", cursive !important;
}


@media (prefers-reduced-motion: no-preference) {
    .animate {
        opacity: 0;
    }
    .animateScroll {
        animation: animateScroll 500ms 1 cubic-bezier(0,0,0.5,1);
        opacity: 1;
    }
}

@keyframes animateScroll {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    background: linear-gradient(to bottom right, #f5f5dc, #e6e6fa);
}

header {
    margin-top: 2rem !important;
    background-color: #d6e9ef;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 3px;
    width: 42rem;
    text-align: center;
    align-items: center;
    margin: auto;
}

.highlighted {
    background-color: #e6f1f4;
}

header a {
    border-radius: 20px;
    color: var(--dark-gray) !important;
    text-decoration: none !important;
    padding: 7px;
    padding-left: 2em;
    padding-right: 2em;
}

main {
    margin-top: 10rem;
    text-align: center;
    color: var(--blue-text);
    padding-left: 15vw;
    padding-right: 15vw;
}

main h1 {
    text-align: center;
    display: inline-block;
    font-size: 13vh;

}



/* Word carosel */
#text-carousel {
    font-size: 2em;
    display: inline-flex;
    overflow: hidden;
    height: 1.4em;
}

.text-rotator {
    display: inline;
    text-align: left;
    animation: rotateText 8s infinite;
}
  
@keyframes rotateText {
    0%, 20% {
        transform: translateY(0); /* stay */
    }
    20%, 33.33% {
        transform: translateY(-41px); /* Move up */
    }
    33.33%, 53.33% {
        transform: translateY(-41px); /* Stay */
    }
    53.33%, 66.66% {
        transform: translateY(-85px); /* Move down */
    }
    66.66%, 86.66% {
        transform: translateY(-85px); /* Stay */
    }
    86.66%, 100% {
        transform: translateY(-127px); /* move */
    }
}
/* Word carosel finish */



#education {
    margin-top: 12em;
    transition: all .2s ease-in-out;
}

#education h2 {
    text-align: left;
}

#education div {
    color: darkgray;
    background-color: var(--light-blue);
    border-radius: 40px;
    margin-right: -20vw;
    margin-top: 1em;
    padding: 1em;
}

#martin-street h2,
#woss h2 {
    color: var(--blue-text);
}


#education div h2 {
    text-align: center;
}

#martin-street {
    width: 77%;
    margin-left: -10vw;
}

#woss {
    width: 45%;
    margin-left: calc(55vw - 10vw);
}




#in-progress {
    display: flex;
    flex-direction: column;
} 

#in-progress h2 {
    text-align: left;
}

#in-progress div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#in-progress img {
    margin-top: 1em;
    position: relative;
    width: 60vw;
}

#in-progress p {
    width: 60vw;
    margin-top: 1em;
}